
h2{
 align-items: center;
 padding-left: 40%;
}
  .content {
    padding-top: 2%;
    width: 100%;
    
  }
  .flex-container{
    display: flex;
    align-items: center;
  }
  .flex-container img {
    margin-right: 10px;
  }
  .flex-container p {
    margin-top: 10px;
  }
  .a{
    padding-bottom: 4%;
  }
